@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
  font-family: "poppins";
  outline: none;
}

body {
  overflow-y: overlay;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 500px;
  background: #ccc;
}
